@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

$ff-text: "Fredoka", sans-serif;

$clr-ocean: lighten(#589fe6, 5%);
$clr-ocean-bor: #00204a;

$clr-ship: #363636;
$clr-ship-lt: lighten(#363636, 30%);
$clr-hit: #dc2f2f;
$clr-hit-dk: darken(#fa7b7b, 20%);

$clr-bg-dk: #303841;
$clr-bg-lt: #f7f7f7;

$clr-accent: #f9b248;

$board-size: 30rem;
$tile-size: calc($board-size / 10);